<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<!-- property name="hibernate.hbm2ddl.auto">update</property> -->
		
		<mapping class="org.openapplicant.domain.EntityInfo" />
		<mapping class="org.openapplicant.domain.DomainObject" />
		<mapping class="org.openapplicant.domain.Candidate" />
		<mapping class="org.openapplicant.domain.Sitting" />
		<mapping class="org.openapplicant.domain.Grade" />
		<mapping class="org.openapplicant.domain.User" />
		<mapping class="org.openapplicant.domain.Company" />
		<mapping class="org.openapplicant.domain.Response" />
		<mapping class="org.openapplicant.domain.Exam" />
		<mapping class="org.openapplicant.domain.QuestionAndResponse"/>
		<mapping class="org.openapplicant.domain.FileAttachment" />
		<mapping class="org.openapplicant.domain.CoverLetter"/>
		<mapping class="org.openapplicant.domain.Resume"/>
		<mapping class="org.openapplicant.domain.Profile"/>
		<mapping class="org.openapplicant.domain.Note"/>
		<mapping class="org.openapplicant.domain.CandidateSearch"/>
		<mapping class="org.openapplicant.domain.SimpleStringCandidateSearch"/>
		<mapping class="org.openapplicant.domain.PropertyCandidateSearch"/>
		<mapping class="org.openapplicant.domain.PhoneNumber"/>
		<mapping class="org.openapplicant.domain.Category"/>
		<mapping class="org.openapplicant.domain.CategoryPercentage"/>
		<mapping class="org.openapplicant.domain.ExamDefinition" />

		<mapping class="org.openapplicant.domain.AccountCreationToken"/>
		<mapping class="org.openapplicant.domain.PasswordRecoveryToken"/>
		
		<mapping class="org.openapplicant.domain.email.AutoInviteEmailTemplate"/>
		<mapping class="org.openapplicant.domain.email.EmailTemplate"/>
		<mapping class="org.openapplicant.domain.email.ExamInviteEmailTemplate"/>
		<mapping class="org.openapplicant.domain.email.RejectCandidateEmailTemplate"/>
		<mapping class="org.openapplicant.domain.email.RequestResumeEmailTemplate"/>
		
		<mapping class="org.openapplicant.domain.link.CandidateExamLink"/>
		<mapping class="org.openapplicant.domain.link.DynamicExamsStrategy"/>
		<mapping class="org.openapplicant.domain.link.ExamLink"/>
		<mapping class="org.openapplicant.domain.link.ExamsStrategy"/>
		<mapping class="org.openapplicant.domain.link.OpenExamLink"/>
		<mapping class="org.openapplicant.domain.link.StaticExamsStrategy"/>
		
		<mapping class="org.openapplicant.domain.event.CandidateWorkFlowEvent"/>
		<mapping class="org.openapplicant.domain.event.CandidateCreatedEvent"/>
		<mapping class="org.openapplicant.domain.event.CandidateCreatedByUserEvent"/>
		<mapping class="org.openapplicant.domain.event.CreateExamLinkForCandidateEvent"/>
		<mapping class="org.openapplicant.domain.event.CandidateStatusChangedEvent"/>
		<mapping class="org.openapplicant.domain.event.AddNoteToCandidateEvent"/>
		<mapping class="org.openapplicant.domain.event.FacilitatorSentExamLinkEvent"/>
		<mapping class="org.openapplicant.domain.event.FacilitatorReceivedEmailEvent"/>
		<mapping class="org.openapplicant.domain.event.FacilitatorRejectedResumeEvent"/>
		<mapping class="org.openapplicant.domain.event.FacilitatorRequestedResumeEvent"/>
		<mapping class="org.openapplicant.domain.event.SittingCreatedEvent"/>
		<mapping class="org.openapplicant.domain.event.SittingCompletedEvent"/>
		<mapping class="org.openapplicant.domain.event.SittingGradedEvent"/>
		<mapping class="org.openapplicant.domain.event.UserAttachedCoverLetterEvent"/>
		<mapping class="org.openapplicant.domain.event.UserAttachedResumeEvent"/>
		<mapping class="org.openapplicant.domain.event.UserSentExamLinkEvent"/>
		
		<mapping class="org.openapplicant.domain.question.Question"/>
		<mapping class="org.openapplicant.domain.question.EssayQuestion"/>
		<mapping class="org.openapplicant.domain.question.CodeQuestion"/>
		<mapping class="org.openapplicant.domain.question.MultipleChoiceQuestion"/>
		
		<event type="save-update">
			<listener class="org.openapplicant.dao.hibernate.DomainObjectSaveOrUpdateListener"/>
		</event>

        <event type="delete">
            <listener class="org.openapplicant.dao.hibernate.DomainObjectDeleteListener"/>
        </event>
		
	</session-factory>
</hibernate-configuration>