[project]
	description = Santex Application for HR recruiting. Based on openapplicant.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/victornieto
[access "refs/for/refs/*"]
	read = group user/victornieto
	push = group user/victornieto
	label-Code-Review = -2..+2 group user/victornieto
	label-Verified = -1..+1 group user/victornieto
	rebase = group user/victornieto
	removeReviewer = group user/victornieto
	submit = group user/victornieto
[access "refs/heads/*"]
	read = group user/victornieto
	create = group user/victornieto
	push = +force group user/victornieto
	pushMerge = group user/victornieto
[access "refs/tags/*"]
	push = group user/victornieto
	push = +force group user/victornieto
