<div id="thanks">
	<h2>All Done.</h2>
	<p>
		Thank you for taking the exam.
		It usually takes a us few days to process the results, then we will get back to you.
		If you have any questions or concerns, you can find us here: <a href="http://www.originatelabs.com/contact.html">www.originatelabs.com/contact.html</a>.
	</p>
</div>
<script type="text/javascript">
    $('#logo').wrap('<a id="logo_link" href="http://www.originatelabs.com/contact.html"></a>');
    
    //the continue to remains on the screen maybe this will clear it.
    $('#thanks').html($('#thanks').html());
</script>